<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link{% if active_link == "home" %} active{% endif %}" href="{% url "home" %}" id="home">Home</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarAdministration">
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_superuser %}
                <li class="nav-item bg-primary font-weight-bold">
                    <a class="nav-link" target="_blank" href="{% url "admin:index" %}" id="administation">Administration</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>